/* neoLoader start*/
#neoLoader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
}
#neoLoader .loader-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#neoLoader .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: neoLoader-spin 2s linear infinite;
    animation: neoLoader-spin 2s linear infinite;
}
  
@-webkit-keyframes neoLoader-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes neoLoader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* neoLoader end*/


/* neoNotFound start*/
#neoNotFound{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* neoNotFound end */